.title{
  margin-bottom: 65px;
  display: block;
  h1, h2{
    display: inline-flex;
    align-items: center;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 49px;
    color: $color-white;
    position: relative;
    font-family: $base-font-family;
    text-transform: capitalize;
    &::after{
      transition: .3s all ease-in-out;
      content: '';
      position: absolute;
      width: 70px;
      height: 3px;
      border-radius: 5px;
      top: calc(100% + 8px);
      left: 0;
      background-color:  $color-dark-orange;
    }
  } 
  span{
    display: block;
    padding-left: 20px;
    color: $color-dark-orange;
    // font-style: italic;
  }
  &.center{
    margin: 0px auto;
    text-align: center;
    p{
      max-width: 95%;
      margin-left: auto;
      margin-right: auto;
      font-style: normal;
      font-weight: normal;
      font-size: 18px;
      line-height: 27px;
      opacity: 0.7;
      &:last-child{
        margin-bottom: 0px;
      }
      @include desktop-sm{
        font-size: 16px;
        line-height: 26px;
      }
      @include mobile-lg{
        font-size: 16px;
        line-height: 24px;
        font-family: $content-font-family;
      }
    }
    em{
      width: 80%;
      margin-left: auto;
      margin-right: auto;
      @include mobile-lg{
        font-size: 16px;
        line-height: 30px;
      }
    }
  }
  &.white{
    h2, h3, p{
      color: $color-white;
    }
  }
}